@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
 .navbar {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

 .navbar h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

 .navbar a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

 .navbar a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}


/* devices */
.cards-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  padding: 2rem;
}

.deviceCard{
  width: 15rem;
  border: hidden;
  border-radius: 20px;
  background-color: rgba(179, 164, 164, 0.444);
  box-shadow: 10px 10px 10px rgba(100, 97, 97, 0.791);
  padding: 10px;
  margin: 20px;
}
.deviceCard:hover{
  cursor: pointer;
  background-color: rgba(158, 141, 141, 0.846);
  box-shadow: 10px 10px 5px rgba(100, 97, 97, 0.346);
}
.deviceCard h2{
  text-decoration: none;
}
.deviceCard h3{
  text-decoration: none;
}
/* footer */
